{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
    {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.8.0"}  }},
%    {cowboy, ".*", {git, "git://github.com/extend/cowboy",      {tag, "1.0.1"}  }},
    {gproc,  ".*", {git, "git://github.com/uwiger/gproc.git",   {tag, "0.3"}    }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",           {tag, "1.9"}    }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",           {tag, "1.9"}    }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",          {tag, "1.9"} }},
    {active, ".*", {git, "git://github.com/synrc/active",       {tag, "1.9"} }},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",        {tag, "master"} }},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",          {tag, "3.3"} }},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",          {tag, "3.3"} }},
    {trie,   ".*", {git, "git://github.com/okeuday/trie",       {tag, "master"} }},
    {geohash,".*", {git, "git://github.com/fxmy/geohash", {tag, "master"} }},
    {bcrypt, ".*", {git, "git://github.com/smarkets/erlang-bcrypt", {tag, "master"}}},
    {kjell,  ".*", {git, "git://github.com/karlll/kjell",       {tag, "master"} }}
]}.

{verbose, 1}.

%{shell_driver, start_kjell}.
