<!DOCTYPE html>
<html>
  <head>
    <title>这是芦苇</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      html, body {
	      height: 100%;
	      margin: 0;
	      padding: 0;
      }
      #map {
	      height: 100%;
      }
    </style>
  </head>
  <body>
  {{body}}
    <!--div id="map"></div-->
    <script>{{initmapfunc}}</script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ authkey }}&callback={{ presentmap }}" async defer></script>

    <script>{{script}}</script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

    <script src='/n2o/protocols/bert.js'></script>
    <script src='/n2o/protocols/client.js'></script>
    <script src='/n2o/protocols/nitrogen.js'></script>
    <script src='/n2o/validation.js'></script>
    <script src='/n2o/bullet.js'></script>
    <script src='/n2o/utf8.js'></script>
    <script src='/n2o/template.js'></script>
    <script src='/n2o/n2o.js'></script>
    <script>protos = [ $bert, $client ]; N2O_start();</script>
  </body>
</html>
